{% extends "index.html" %}

{% block content %}
    
    <ul class="list-group">
        <li class="list-group-item">{{viewusername}}</li>


    </ul>
    {{chat_credentials}}

    <nav class="navbar fixed-bottom navbar-expand-lg navbar-dark default-color" style="background-color: #d9a211;height: 50px;padding:20px">
        <a class="navbar-brand"></a>
        <center><input type="text" name="msg" id="msg" style="width: 70%; position:fixed;left:10%;right: 20%; bottom:5px" placeholder="Enter a message..."></center>
        <button style="width: 15%; position:fixed;right: 5px; bottom:5px" class="btn btn-light">Enter</button>
    </nav>

{% endblock %}
