{% extends "index.html" %}

{% block content %}
    <script src="/static/loadinbox.js"></script>
    <center>
        <ul class="list-group list-group-light" style="width: 100%;">
            
            
        </ul>
        <div class="fixed-action-btn" id="fixed1">
            <a onclick="window.location.assign('/new_chat')" class="btn btn-floating btn-primary btn-lg" style="background-color: #616161;color:white;">
              <i class="fas fa-pencil-alt"></i>
            </a>
          
            
        </div>
    </center>

{% endblock %}
