{% extends "index.html" %}

{% block content %}
    <center><br><br>
    <h2>Privacy Policy</h2>
    <p>We haven't got any access to your data. After accepting that privacy policy; your messages ,posts, IP addresses and locations will be private to everybody your only public thing is your username on website. We won't use any of your data except your username. Governments, hackers also our developers and CEO can't access to your data. Viewing  the encryption key is currently not possible. Also if you don't trust to our systems you can go to github and read all the source code of the website.</p>
    </center>

{% endblock %}
