{% extends "index.html" %}

{% block content %}
<center>

<p>
   <br><br>
    <div class="card" style="width: 80%;">

        <div class="card-body">
            <br>
            <h5 class="card-title">{{user["fullName"]}}</h5>
            <p class="card-body" style="text-align: left;">@{{user["username"]}}</p>
            <br>
            <button class="btn btn-primary">Follow <i class="fa fa-plus"></i></button>
            <button class="btn btn-danger">Report <i class="fa fa-danger"></i></button>
            <button class="btn btn-info">Message <i class="fa fa-message"></i></button>
        </div>
    </div>
</p>
</center>
     

{% endblock %}
