{% extends "index.html" %}

{% block content %}
<center>

<p>
   <br><br>
    <div class="card" style="width: 80%;">

        <div class="card-body">
            <br>
            <h5 class="card-title">{{user["fullName"]}}</h5>
            <p class="card-body" style="text-align: left;">@{{user["username"]}}</p>
            <br>
            {% if auth == False %}
            <button class="btn btn-primary" onclick="window.location.assign('/login?next=/user/{{username}}')">Login for actions</button>
            {% else %}
            <button class="btn btn-primary">Follow <i class="fa fa-plus"></i></button>
            <button class="btn btn-danger">Report <i class="fa fa-danger"></i></button>
            <button class="btn btn-info">Message <i class="fa fa-message"></i></button>
            {% endif %}
        </div>
    </div>
</p>
</center>
{% if self_view == True %}
<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark default-color" style="background-color: #d9a211;height: 50px;padding:20px">
    <a class="navbar-brand"></a>
    <center><button class="btn btn-warning" style="position:fixed;left:10%;bottom:10px;width: 40%;" onclick="window.location.assign('/')"><i class="fa fa-home"></i></button><button class="btn btn-warning" style="position: fixed;right: 10%;bottom:10px;width: 40%;" onclick="window.location.assign('/user/{{username}}')"><i class="fa fa-user"></i></button></center>
</nav>
{% endif %}
     

{% endblock %}
