{% extends "index.html" %}

{% block content %}
    <center><br><br>
    <h2>Account reported</h2>
    <p>You successfully reported the account! According to the site policies: </p>
    <ul style="text-align: left;">
        <li>We will inform the user that the account has been reported and our team will review the account </li>
        <li>If the person is posting nude content or illegal things like selling drugs(not using)</li>
        <li>If the account is a bot</li>
        <li>If the account is under 12</li>
        <li>If the user is talking bad about Turkish republic or Mustafa Kemal</li>
        <li>Else we won't touch anything about the account, also if this account is violating this terms we will delete the account from the system directly without any warning!</li>
        <li>The reason that we are directly deleting the account is because of our <a href="/privacy-policy">privacy policy</a>. We can't read from your user data we can't modify your posts. But we can delete if you are violating our systems</li>
    </ul>
    </center>

{% endblock %}
